<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Textutills</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome to textutills.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button">
              Contact us
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
    <strong>Welcome to Textutill!</strong> You can do anything whith your text here!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="container">
    <div class="w-75 mx-auto">
      <label for="exampleFormControlTextarea1" class="form-label">Enter your text here</a></label>
      <form action='/analyze' method='post'> {% csrf_token %}
        <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="5"></textarea>
        <br>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name='checkbox' role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Remove punctuations</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name='upper_case' role="switch" id="switchCheckDefault1">
          <label class="form-check-label" for="switchCheckDefault">Upper case</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name='new_line_remover' role="switch"
            id="switchCheckDefault2">
          <label class="form-check-label" for="switchCheckDefault2">New line remover</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name='remove_extra_space' role="switch"
            id="switchCheckDefault3">
          <label class="form-check-label" for="switchCheckDefault3">Remove extra space</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name='char_count' role="switch" id="switchCheckDefault4">
          <label class="form-check-label" for="switchCheckDefault4">Character count</label><br>
          <button type="submit" class="btn btn-dark" style="margin-top:10px;">Analize Text</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
    crossorigin="anonymous"></script>
</body>

</html>